chainlit
sqlalchemy
python-dotenv
pdfplumber
camelot-py[cv]
pdf2image
pytesseract
Pillow
langchain-community
langchain-core
langchain-huggingface
chromadb
anthropic
spacy
sentence-transformers
rapidfuzz
opencv-python-headless
tiktoken